.footer-container{
position: absolute;
background-image: url(../img/Rectangle\ 9.png);
width: 1900px;
top: 5700px;
left: 0px;
height: 1008px;
background-color: #135A9A;

.footer-container_img1{
position: absolute;
width: 1900px;
top: 400px;
left: 0px;

}
.footer-container_text1{
position: absolute;
font-family: Rounded Mplus;
font-size: 52px;
font-weight: 800;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
color: #ffffff;
left: 376px;
top: 150px;


}


.input{
position: absolute;
background-color: rgb(247, 244, 244);
font-size:22px;
font-family: Rounded Mplus 1c;
font-size: 25px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
width: 470px;
height: 70px;
top: 300px;
left: 375px;
border-radius: 35px;

}


.input1{
    position: absolute;
    background-color: rgb(247, 244, 244);
    font-size:22px;
    font-family: Rounded Mplus 1c;
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    width: 470px;
    height: 70px;
    top: 410px;
    left: 375px;
    border-radius: 35px;
    
    }

.footer-container_img2{
position: absolute;
top: 550px;
left: 500px;



}

.footer-container_img3{
    position: absolute;
    top: 150px;
    left:1200px;
    }

    .footer-container_img4{
        position: absolute;
        top: 500px;
        left:850px;
        
        
        
        }
.footer-container_text2{
position: absolute;
font-family: Rounded Mplus 1c;
font-size: 72px;
font-weight: 400;
line-height: 82px;
letter-spacing: -0.005em;
text-align: center;
color: #ffffff;
left: 374px;
top: 750px;

}

.footer-container_img5{
position: absolute;
left: 374px;
top: 890px;



}


.footer-container_text3{
    position: absolute;
    font-family: Rounded Mplus 1c;
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
     color: #ffffff;
    left: 374px;
    top: 900px;
    
    }

    .footer-container_text4{
        position: absolute;
        font-family: Rounded Mplus 1c;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
         color: #ffffff;
        left: 374px;
        top: 930px;
        
        }

        .footer-container_text5{
            position: absolute;
            font-family: Rounded Mplus 1c;
            font-size: 18px;
            font-weight: 800;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
             color: #ffffff;
            left: 950px;
            top: 900px;
            
            }
        
            .footer-container_text6{
                position: absolute;
                font-family: Rounded Mplus 1c;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                 color: #ffffff;
                left: 950px;
                top: 930px;
                
                }

                .footer-container_img6{
                    position: absolute;
                    left: 1380px;
                    top: 980px;
                    
                    
                    
                    }


                    .footer-container-social-media_list {
                        display: inline-block;
                        margin-right: 10px;
                    
                    }
                    
                    
                    .footer-container-social-media_link img{
                        text-decoration: none;
                    width: 50px;
                    height: 50px;
                        position:relative;
                    }
                    
                    .footer-container-social-media_link img:hover{
                        text-decoration: none;
                        transform: translateY(2px);
                        transition: 0.1s;
                        box-shadow: 5px 5px 10px black;
                    border-radius: 100%;
                    
                    }
                    
                    
                    .footer-container-nvbar_social-media{
                    position: absolute;
                    top: 900px;
                    left: 1325px;
                    
                    }


}